#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension

session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Forms\DeleteArticleFactory
	- App\Model\ArticleManager
	- App\Model\LanguageManager

	authorizatorFactory: App\AuthorizatorFactory
	authorizator: @authorizatorFactory::create

	authenticator: App\Model\Authenticator

	router: App\RouterFactory::createRouter
