sign:
    username: "Login:"
    requiredUsername: "Please enter your username!"
    password: "Password:"
    requiredPassword: "Please enter your username!"
    remember: "Keep me signed in"
    signIn: "Sign in"
    first_name: "First name:"
    last_name: "Last name:"
    sex: "Sex:"
    signUp: "Sign Up"
    signOut: "Logout"
    male: "male"
    female: "female"

article:
    czech: "Czech"
    english: "English"
    selectLanguage: "Choose language:"
    title: "Title:"
    requiredTitle: "Title of article must be filled!"
    content: "Content:"
    requiredContent: "The content of article must be filled!"
    save: "Save"

