sign:
    username: "Login:"
    requiredUsername: "Vyplňte své uživatelské jméno!"
    password: "Heslo:"
    requiredPassword: "Vyplňte své heslo!"
    remember: "Zapamatovat"
    signIn: "Přihlásit"
    first_name: "Jméno:"
    last_name: "Příjmení:"
    sex: "Pohlaví:"
    signUp: "Registrovat"
    signOut: "Odhlásit"
    male: "Muž"
    female: "Žena"

article:
    czech: "Česky"
    english: "Anglicky"
    selectLanguage: "Vyber jazyk:"
    title: "Titulek:"
    requiredTitle: "Titulek článku musí být vyplněn!"
    content: "Obsah:"
    requiredContent: "Obsah článku musí být vyplněn!"
    save: "Uložit"
    caption: "Popisek:"
    requiredCaption: "Popisek musí být vyplněn!"
    commentWrite: 'Napište komentář:'
    publish: 'Zveřejnit'
    commentPlaceholder: 'Pro napsání komentáře se musíte přihlásit!'
    change: "Upravit"
    articleChanged: "Článek byl úspěšně upraven."
    requestEditArticle: "Požadavek na upravení článku byl odeslán."
    savedArticle: "Článek byl úspěšně uložen."
    requestAddArticle: "Požadavek na přidání článku byl odeslán."
    articleDelete: "Smazat"
    articleDeleteRequest: "Poslat žádost"
    purposeOfDeleting: "Důvod smazání:"
    articleDeleted: "Článek byl úspěšně vymazán."

user:
    roleUser: "Uživatel"
    roleModerator: "Moderátor"
    roleAdmin: "Admin"
    yes: "Ano"
    no: "Ne"
    role: "Role:"
    change: "Změnit"
    ban: "Ban:"
    firstName: "Jméno:"
    lastName: "Příjmení:"
    email: "Email:"
    sex: "Pohlaví:"
    save: "Uložit"
