sign:
    username: "Login:"
    requiredUsername: "Please enter your username!"
    password: "Password:"
    requiredPassword: "Please enter your password!"
    remember: "Keep me signed in"
    signIn: "Sign in"
    first_name: "First name:"
    last_name: "Last name:"
    sex: "Sex:"
    signUp: "Sign Up"
    signOut: "Logout"
    male: "Male"
    female: "Female"

    usernameMinLength: "Username must have at least %count% characters!"
    usernameMaxLength: "Username must have maximally %count% characters!"

    forbiddenChars: "Forbidden characters! Use only: .-_"

    passwordMinLength: "Password must have at least %count% characters!"
    passwordMaxLength: "Password must have maximally %count% characters!"

    firstNameMinLength: "First name must have at least %count% characters!"
    firstNameMaxLength: "First name must have maximally %count% characters!"

    lastNameMinLength: "Last name must have at least %count% characters!"
    lastNameMaxLength: "Last name must have maximally %count% characters!"

    correctEmail: "You have to enter email in correct form!"

article:
    czech: "Czech"
    english: "English"
    selectLanguage: "Choose language:"
    title: "Title:"
    requiredTitle: "Title of article must be filled!"
    content: "Content:"
    requiredContent: "The content of article must be filled!"
    save: "Save"
    caption: "Caption:"
    requiredCaption: "The caption must be filled!"
    commentWrite: 'Write a comment:'
    publish: 'Publish'
    commentPlaceholder: 'You need to be logged in to write a comment!'
    change: "Change"
    articleChanged: "The article was changed."
    requestEditArticle: "The request to change the article was send."
    savedArticle: "The article was successfully saved."
    requestAddArticle: "The request to save the article was send."
    articleDelete: "Delete"
    articleDeleteRequest: "Send request"
    purposeOfDeleting: "Purpose of deleting:"
    articleDeleted: "The article was successfully deleted."

    titleMinLength: "Title must have at least %count% characters!"
    titleMaxLength: "Title must have maximally %count% characters!"

    captionMinLength: "Caption must have at least %count% characters!"
    captionMaxLength: "Caption must have maximally %count% characters!"

    commentMinLength: "Comment must have at least %count% characters!"
    commentMaxLength: "Comment must have maximally %count% characters!"


user:
    roleUser: "User"
    roleModerator: "Moderator"
    roleAdmin: "Admin"
    yes: "Yes"
    no: "No"
    role: "Role:"
    change: "Change"
    ban: "Ban:"
    firstName: "First name:"
    lastName: "Last name:"
    email: "Email:"
    sex: "Sex:"
    save: "Save"
