sign:
    username: "Login:"
    requiredUsername: "Please enter your username!"
    password: "Password:"
    requiredPassword: "Please enter your password!"
    remember: "Keep me signed in"
    signIn: "Sign in"
    first_name: "First name:"
    last_name: "Last name:"
    sex: "Sex:"
    signUp: "Sign Up"
    signOut: "Logout"
    male: "Male"
    female: "Female"

article:
    czech: "Czech"
    english: "English"
    selectLanguage: "Choose language:"
    title: "Title:"
    requiredTitle: "Title of article must be filled!"
    content: "Content:"
    requiredContent: "The content of article must be filled!"
    save: "Save"
    caption: "Caption:"
    requiredCaption: "The caption must be filled!"
    commentWrite: 'Write a comment:'
    publish: 'Publish'
    commentPlaceholder: 'You need to be logged in to write a comment!'
    change: "Change"
    articleChanged: "The article was changed."
    requestEditArticle: "The request to change the article was send."
    savedArticle: "The article was successfully saved."
    requestAddArticle: "The request to save the article was send."
    articleDelete: "Delete"
    articleDeleteRequest: "Send request"
    purposeOfDeleting: "Purpose of deleting:"
    articleDeleted: "The article was successfully deleted."

user:
    roleUser: "User"
    roleModerator: "Moderator"
    roleAdmin: "Admin"
    yes: "Yes"
    no: "No"
    role: "Role:"
    change: "Change"
    ban: "Ban:"
    firstName: "First name:"
    lastName: "Last name:"
    email: "Email:"
    sex: "Sex:"
    save: "Save"
