sign:
    username: "Login:"
    requiredUsername: "Vyplňte své uživatelské jméno!"
    password: "Heslo:"
    requiredPassword: "Vyplňte své heslo!"
    remember: "Zapamatovat"
    signIn: "Přihlásit"
    first_name: "Jméno:"
    last_name: "Příjmení:"
    sex: "Pohlaví:"
    signUp: "Registrovat"
    signOut: "Odhlásit"
    male: "Muž"
    female: "Žena"

    usernameMinLength: "Uživatelské jméno musí mít minimálně %count% znaky!"
    usernameMaxLength: "Uživatelské jméno může mít maximálne %count% znaků!"

    forbiddenChars: "Nepovolené znaky! Používejte pouze: .-_"

    passwordMinLength: "Heslo musí mít minimálně %count% znaky!"
    passwordMaxLength: "Heslo může mít maximálne %count% znaků!"

    firstNameMinLength: "Křestní jméno musí mít minimálně %count% znaky!"
    firstNameMaxLength: "Křestní jméno může mít maximálne %count% znaků!"

    lastNameMinLength: "Příjmení musí mít minimálně %count% znaky!"
    lastNameMaxLength: "Příjmení může mít maximálne %count% znaků!"

    emailMinLength: "Email musí mít minimálně %count% znaky!"
    emailMaxLength: "Email může mít maximálne %count% znaků!"

    correctEmail: "Musíte zadat email ve správném tvaru!"

article:
    czech: "Česky"
    english: "Anglicky"
    selectLanguage: "Vyber jazyk:"
    title: "Titulek:"
    requiredTitle: "Titulek článku musí být vyplněn!"
    content: "Obsah:"
    requiredContent: "Obsah článku musí být vyplněn!"
    save: "Uložit"
    caption: "Popisek:"
    requiredCaption: "Popisek musí být vyplněn!"
    commentWrite: 'Napište komentář:'
    publish: 'Zveřejnit'
    commentPlaceholder: 'Pro napsání komentáře se musíte přihlásit!'
    change: "Upravit"
    articleChanged: "Článek byl úspěšně upraven."
    requestEditArticle: "Požadavek na upravení článku byl odeslán."
    savedArticle: "Článek byl úspěšně uložen."
    requestAddArticle: "Požadavek na přidání článku byl odeslán."
    articleDelete: "Smazat"
    articleDeleteRequest: "Poslat žádost"
    purposeOfDeleting: "Důvod smazání:"
    articleDeleted: "Článek byl úspěšně vymazán."

    titleMinLength: "Titulek musí mít minimálně %count% znaky!"
    titleMaxLength: "Titulek může mít maximálne %count% znaků!"

    captionMinLength: "Popisek musí mít minimálně %count% znaků!"
    captionMaxLength: "Popisek může mít maximálne %count% znaků!"

    commentMinLength: "Komentář musí mít minimálně %count% znaky!"
    commentMaxLength: "Komentář může mít maximálne %count% znaků!"

user:
    roleUser: "Uživatel"
    roleModerator: "Moderátor"
    roleAdmin: "Admin"
    yes: "Ano"
    no: "Ne"
    role: "Role:"
    change: "Změnit"
    ban: "Ban:"
    firstName: "Jméno:"
    lastName: "Příjmení:"
    email: "Email:"
    sex: "Pohlaví:"
    save: "Uložit"
