exceptions:
    wrongLogin: "Špatné uživatelské jméno nebo heslo!"
    duplicateUsername: "Zadaný login již existuje!"
    duplicateTitle: "Článek se zadaným titulkem již existuje!"
    bannedAccount: "Tento účet byl zablokován! Obraťte se prosím na administrátora."

flash:
    signedOut: "Byl jste odhlášen!"
    permissionAddArticle: "Nemáte povolení přidávat články!"
    deletedArticle: "Tento článek byl vymazán!"
    nonexistsTranslation: "Překlad neexistuje!"
    translationSaved: "Překlad byl úspěšně uložen."
    alreadyDelRequest: "Již jsi zažádal o smazání toho článku."
    requestDeleteArticle: "Požadavek na smazání článku byl odeslán."
    roleChanged: "Role uživatele byla změněna."
    accountLocked: "Účet uživatele byl zamčen."
    accountUnlocked: "Účet uživatele byl odemčen."
    profileChanged: "Profil byl úspěšně změněn."
    requestReject: "Požadavek byl zamítnut!"
    addedArticle: "Článek byl přidán."
    changedArticle: "Článek byl upraven."
