sign:
    title: "Sign In"

article:
    titleAdd: "Add an article"
    noComment: "Nobody wrote a comment at this article!"
    noTranslation: "The translation has not been added yet!"
    articleList: "Article List"
    editArticle: "Edit the article"
    rated: "Rated:"
    averageRating: "average rating:"
    editArticleButton: "Edit the article"
    author: "Author:"
    deleteArticle: "Delete the article"
    comments: "Comments"
    originalArticle: "Original article"
    translation: "Translation"
    missingTranslations: "Missing translations"
    article: "Article"
    dateOfAddition: "Date of addition"
    content: "Content"
    created: "Created"
    title: "Title"
    caption: "Caption"
    wrote: "wrote:"

    noArticles: "Any articles has not been added yet."

visualPaginator:
    next: "Next"
    previous: "Previous"

popUp:
    cancel: "Cancel"
    reallyDeleteArticle: "Do you really want to delete this article?"

layout:
    articles: "Articles"
    addArticle: "Add an article"
    articleList: "List of articles"
    translations: "Translations"
    user: "User"
    userProfile: "User's profile"
    userList: "List of users"
    requests: "Requests"
    myRequests: "My request"
    requestList: "List of requests"

request:
    request: "Request"
    byUser: "By user"
    changed: "Changed"
    reasonOfDeleting: "Reason of deleting"
    unchangedArticle: "Unchanged article"
    noRequests: "You don't have any requests yet!"
    myRequests: "My requests"
    confirm: "Confirm"
    addArticle: "add article"
    delArticle: "delete article"
    editArticle: "edit article"
    reject: "Reject"
    requests: "Requests"
    listNoRequests: "Any requests has been sent yet."

user:
    yourProfile: "Your profile"
    firstName: "First name"
    lastName: "Last name"
    email: "Email"
    sex: "Sex"
    userType: "Type of user"
    writtenComments: "Written comments"
    karma: "Karma"
    empty: "None"
    editProfile: "Edit profile"
    id: "ID"
    username: "Username"
    role: "Role"
    banned: "Banned"
    yes: "Yes"
    no: "No"
    name: "Name"
    ban: "Ban"
    userProfile: "Profile of user:"

title:
    allAboutUniverse: "All about the universe"