sign:
    title: "Sign In"

article:
    titleAdd: "Add an article"
    noComment: "Nobody commented this article!"
    noTranslation: "The translation has not been added yet!"

visualPaginator:
    next: "Next"
    previous: "Previous"