sign:
    title: "Přihlášení"

article:
    titleAdd: "Přidat článek"
    noComment: "Nikdo zatím neokomentoval tento článek!"
    noTranslation: "Překlad článku ještě není!"

visualPaginator:
    next: "Další"
    previous: "Předchozí"