@font-face { font-family: x360; src: url('X360.ttf'); }

html {
	min-height: 100%;
}
body {
	min-height: 100%;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(5,30,94,1) 50%, rgba(58,120,214,1) 100%);
	margin: 0;
}

.center {
	margin: auto;
	width: 960px;
	height: 100%;
}

#header {
	width: 100%;
	height: 40px;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(221, 221, 221) 100%);
}

#header_content {
	width: 960px;
	height: 40px;
}
#header_content .list {
	height: 100%;
	display: inline-block;
	color: black;
	float: right;
	padding: 0 5px;
}
#header_content a {
	text-decoration: none;
	color: white;
	line-height: 40px;
	font-family: x360;
}

#header_content a:hover {
	background: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(0,0,0) 100%);
	color: white;
}

#header_content #logo {
	background: url("../images/logo.png") no-repeat;
	height: 100%;
	background-size: contain;
	margin: 0 5px;
	width: 85px;
	float: left;
	clear: both;
}

.cleaner {
	clear: both;
}

#middle {
	width: 960px;
	height: 100px;
}

#content {
	background: white;
	width: 930px;
	padding: 10px 15px;
	border-radius: 4px;
}

#footer {
	width: 960px;
	height: 100px;
	margin: 20px 0 0 0;
	background: white;
	border-radius: 4px 4px 0 0;
}

h1 {
	color: #d28700;
	font-family: x360;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}
/*======================================================*/
form {
	width: 100%;
}

form table {

}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}
/*======================================================*/

.form {
	width: 100%;
	margin: auto;
}

.form .component {
	width: auto;
}

.form #labelLanguage {
	float: left;
}

.form #inputLanguage {
	float: left;
}

.form #labelTitle {
	float: left;
}

.form #inputTitle {
	float: left;
}